
/*   #########################      MAIN      ###############################    */

.App {
    margin: 0 0;
    overflow-x: hidden;
    max-width: 2000px;
    height: auto;
    background-color: #212a2c;
    font-family: 'Ubuntu', sans-serif;
    color: #cccdff; 
    font-size: 22px; 
    letter-spacing: 0.05em;
}

/*    #######################      TYPOGRAPHY      ##########################     */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 0.85;
  margin-bottom: 15px;
  font-family: Orbitron, sans-serif;
  letter-spacing: 0.15em;
  transition: font-size 0.25s ease;
}

h1 {
  font-size: 1.9em;
  line-height: 1.15;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
    margin: 50px 0;
}
/*      #####################      CONTACT       #############################       */

#contact {
    position: fixed;
    top: 3%;
    left: 2%;
    z-index: 10;
    background-color: #212a2c6c; 
    display: flex;
    flex-direction: column; 
    padding: 5px;
    font-size: 0.7em;     
 }
 
 #contact a { 
    color: #00ff00;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #contact a:hover .contact-link, #contact a:hover{
    color: #ffb200;
 }

 .contact-link {
    display: none;
 }

 #contact:hover .contact-link {
    display: inline;
    color: #00ff00;
  }

/*      #####################       NAVBAR        ############################       */

.ul-navbar, .dropdown-content-on {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    text-align: right !important;
    list-style: none;
}

.menu {
    padding: 20px 20px 15px;
    float: right;
    background-color: #212a2c;
    color: #cccdff;
    border: none;
    z-index: 3;
    position: relative;
}

.dropdown-content-on {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 2;
    background-color: #212a2c75;
    width: 120px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}

.dropdown-content-off {
    display: none;
}

li + li {
    margin-left: 40px;
}

a {
    color:#a87bff;
    text-shadow: 1px 1px black;
    font-weight: 700;
    text-decoration: none;
    font-family: Orbitron, sans-serif;
    letter-spacing: 0.15em;
}

a:hover {
    color: #ff1a1a;
}

/*      ###########################      HOME       ##########################      */

.main {
    width: 70%; 
    margin: 0 auto;
}

.hero, .hero-project {
    max-width: 80%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
}

.hero img, .hero-project img {
    max-width: 100%;
}

/*     ############################       PORTFOLIO       ##########################      */

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) ) ;
    grid-auto-rows: 500px;
    row-gap: 50px;
    padding: 50px 0;
}

.project-left, .project-right {
    border: 4px solid #fffa86;
    background-color: #fffa86;
    position: relative;
}

.project-left a img:hover, .project-right a img:hover {
    border-top: 4px solid #fffa86;
    border-left: 4px solid #fffa86;
}

.project-left p, .project-right p {
    margin: 0 5px;
    padding: 5px 20px;
}

.project-left {
    grid-column: 1 / span 7;
}

.project-right {
    grid-column: span 7 / -1;
}

.project-left img, .project-right img {
    width: 100%;
    height: 70%;
}

span {
    color: #212a2c;
}

.read-more {
    padding: 0 7px;
    font-family: Orbitron, sans-serif;
    letter-spacing: 0.15em;
    line-height: 1.3;
    background-color: #a87bff;
    color: #fffa86;
    position: absolute;
    right: 0;
    bottom: 0;
}

.read-more:hover {
    background-color: #ff1a1a;
    color: #fffa86;
}

/*      ###############################    PROJECT DETAILS   ###########################        */

.project-details-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto 20px;
}

.project-details-header button {
    background-color: #212a2c;
    border: none;
}

.tech-p {
    margin: 10px 0;
    color: #fffa86;
}

.prevNext {
    color: #a87bff;
}

.prevNext:hover {
    color: #ff1a1a;
}

/*      ################################       SKILLS        ###########################        */

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
}

.skill {
    
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill p {
    margin: 20px 0;
    font-size: 16px;
}

/*     ################################       FOOTER        ############################      */

.footer {
    height: 100px;
    width: 100%;
    background-color: #cccdff;
    color: #212a2c;
    font-family: Orbitron, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

/*      ###################################     CV      ##############################       */

.cv-h1, .cv-h2 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1em;
}

.cv-h1 {   
    font-size: 1.5em;
    margin-bottom: 25px;
}

.cv-h2 {
    font-size: 1.15em;
}

.cv-ul li a {
    font-family: 'Ubuntu', sans-serif;
}

.cv-p, .cv-ul {
    line-height: 1.25;
    font-size: 1em;
    margin: 25px 0;
}

.cv-ul li {
    padding: 0;
    margin: 0;
  }
  